---
import "../styles/global.css";
import TopBar from "../components/TopBar.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "@fontsource/manrope";

interface Props {
	title: string;
	description?: string;
}

const {
	title,
	description = "24/7 Professional Electrical Services in Miami",
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
	</head>
	<body
		class="bg-light text-primary flex flex-col min-h-screen font-body selection:bg-accent selection:text-white"
	>
		<TopBar />
		<Header />

		<main class="flex-grow">
			<slot />
		</main>
		<Footer />
	</body>
</html>
