---
interface Props {
    class?: string;
    [key: string]: any;
}

const { class: className, ...rest } = Astro.props;
---

<div
    class:list={[
        "mx-auto w-full max-w-[1600px] px-5 md:px-8 lg:px-12 xl:px-16 2xl:px-20",
        className,
    ]}
    {...rest}
>
    <slot />
</div>
